{% extends 'base/main.html' %}
{% load static %}
{% block content %}


<div class="main-container">
	<h3>Password reset sent</h3>

<div class="custom-container">
	<p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez entré. Vous devriez les recevoir sous peu.</p>

	<p>Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier de courrier indésirable.</p>

</div>

{% endblock content %}